body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Center the container */
#container {
  padding-top:50px;
  margin:0 auto;
  width:480px;
}

/* Give canvas a background */
canvas {
  background-color:black;
}
